<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2>Welcome to the PDF creator for BBB presentations!</h2>

    <p>How to use it.</p>

    <ol>
        <li>Get the link of one pdf site.</li>
        <li>Copy the link in the quotation marks "http://malegro.ddns.net:5007/?link=" and put it in the address field.</li>
        <li>Put the link of the pdf site behind the address you put in the address field.</li>
        <li>Press enter, download the pdf document and have fun!</li>
    </ol>
</body>

</html>
